<h1>Welcome to the family,</h1>
<h3>At Hamijia, we strive to provide a homecoming and agreable environment to the students. We thank you for being part of us; and we hope that together, we can provide the best service to the students. Afterall, they are the one that has to keep up late at night to study, and their success determine our future.</h3>

<%= button_to 'Yes, I am an owner', starts_as_an_owner_path, class: 'btn btn-lg btn-primary', data: { confirm: 'We just have a few question to ask you before upgrading your account to an owners account. Note that you will not be able to revert this action.' } %>
<%= link_to 'Back', owners_path %>
