<h1>Please choose your side</h1>

<%= button_to 'I am a Student', choose_student_path, method: :post, class: 'btn btn-primary btn-lg' %>
<%= button_to 'I am an Owner', choose_owner_path, method: :post, class: 'btn btn-primary btn-lg' %>

